@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "satoshi-regular";
  src: url("./assets/fonts/Satoshi/Satoshi-Regular.ttf");
}
@font-face {
  font-family: "satoshi-bold";
  src: url("./assets/fonts/Satoshi/Satoshi-Bold.ttf");
}
